@font-face {
    font-family: 'Cuida';
    src: url('/fonts/Cuida.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PoppinsL';
    src: url('/fonts/Poppins Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}